{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/agendar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Agendamento</title>
  </head>
  <body>
    <center>
    <div class="btt-img mb-3">
      <a href="{% url 'principal' %}"><img src="/static/img/img-removebg-preview.png" width="200" alt=""></a>
    </div>
    </center>
    <div class="txt">
        <h2>AGENDAR HORÁRIO</h2>
    </div>
    <div class="blocos">
        <div class="barbeiros">
            <table style="color: white;" class="table">
                <thead>
                  <tr>
                    <th scope="col">BARBEIRO</th>
                    <th scope="col">VER</th>
                    <th scope="col">ABRIR</th>
                  </tr>
                </thead>
                <tbody>
                    {% for barbeiro in barbeiros %}
                        <tr>
                            <td>{{barbeiro.nome_completo}}</td>
                            <td><a href="{% url 'ver_barbeiro' barbeiro.id %}"><i class="fa-solid fa-eye" style="color: #ffffff;"></i></a></td>
                            <td><a href="{% url 'datas' barbeiro.id %}"><button style="border-radius: 6px; padding:2px;" class=" btn-danger"><i class="fa-solid fa-calendar-days" style="color: withe;"></i> DATAS</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            
            
           
        </div>
    
        <div class="datas" >
          <div class="nome">
            
            {{barbeiro.nome_completo}}
          </div>
          <div class="botoes">
            {% if barbeiro %}
              {% for data in datas %}
                      <a href="{% url 'horarios' data.id %}"><button class="btt">{{ data.data }}</button></a>
              {% endfor %}
            {% endif %}
            {% if datasele %}
                {% if not horarios %}
                  <span class="badge bg-primary p-2">Não existe nenhum horario disponivel para a data: <b>{{datasele.data}}</b></span>
                {% else %}
                <div>
                  <form action="{% url 'criar_pedido' %}" method="post">{% csrf_token %}
                    <h4><i class="fa-solid fa-clock" style="color: #ffffff;"></i> Hórarios Disponíveis</h4>
                    {% for horario in horarios %}
                    <label style="margin-right: 15px;">
                      <input type="radio" name="horario" required value="{{horario.id}}">
                      {{horario.horario}}
                    </label>
                    {% endfor %}
                    
                    <br>
                    <br>
                    <h4><i class="fa-solid fa-rocket" style="color: #ffffff;"></i> Selecione os serviços</h4>
                    {% for sv in servicos %}
                      <input type="checkbox" name="servico" value="{{sv.id}}" > {{sv.tipo}} - R$ {{sv.preco}} <br>
                    {% endfor %}
                    <button type="submit" class="btn btn-warning mt-4">AGENDAR</button>
                  </form>
                </div>
                
                {% endif %}
            {% endif %}
          </div>
          
        </div>

      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
