{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/error403.css' %}">
</head>
<body>
    <div class="message">Você não está autorizado!.
    </div>
    <div class="message2">Você tentou acessar uma página para a qual não tinha autorização prévia.</div>
    <div class="container">
    <div class="neon">403</div>
    <div class="door-frame">
        <div class="door">
        <div class="rectangle">
        </div>
        <div class="handle">
            </div>
        <div class="window">
            <div class="eye">
            </div>
            <div class="eye eye2">
            </div>
            <div class="leaf">
            </div> 
        </div>
        </div>  
    </div>
    </div>
</body>