{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/gestor.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 mb-4">
        <div class="container-md">
          <a class="navbar-brand" href=""><h2><i class="fa-solid fa-user-secret"></i> Gestor</h2></a>
          <a href="{% url 'index' %}"><button class="btn btn-primary"><i class="fa-solid fa-plus"></i> HOME</button></a>
        </div>
    </nav>

    <h1>Formulário de Editar dado do Barbeiro(a)</h1>
    <form class="form" action="{% url 'edit' barber.id %}" method="post" enctype="multipart/form-data"  >
        {% csrf_token %}
        <div class="form_grupo">
            <label for="nome" class="form_label">Usuario</label>
            <input type="text" name="usuario" class="form_input" id="Usuario" value='{{barber.user}}' placeholder="Usuario" required>
        </div>

        <div class="form_grupo">
            <label for="nome" class="form_label">Nome</label>
            <input type="text" name="nome" class="form_input" value='{{barber.nome_completo}}' id="nome" placeholder="Nome" required>
        </div>
        
        <div class="form_grupo">
            <label for="datanascimento" class="form_label">Data de Nascimento</label>
            <input type="date" name="datanascimento" class="form_input" id="datanascimento" placeholder="Data de Nascimento" required>
        </div>     

        <div class="form_grupo">
            <label for="senhas" class="form_label">Informe a senha</label>
            <input class='form_input' type="password"  name="senha" placeholder="Senha">
        </div>   

        <div class='form_grupo'>
            <label for="senhas" class="form_label">Confirme a senha</label>
            <input class="form_input" type="password" name="confsenha" placeholder="Confirmar Senha">
        </div>   
        
        <div class="form_grupo">
            <label for="nome" class="form_label">Foto do Barbeiro(a)</label>
            <input type="FILE" name="barbeirofoto" class="form_input" id="barbeirofoto">
        </div>
        
        
        <div class="submit">
            <input type="hidden" name="acao" value="enviar">
            <button type="submit" name="Submit" class="submit_btn" >Editar</button>
        </div>
    </form>

</body>
</html>